/* Reseteo CSS */

html,
body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

p{
    margin: 0;
}

.textos{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}

/* Modificaciones Body */

#body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("../assets/img/fondo.jpg");
    background-attachment:fixed;
    background-size: cover;
}

.titulos{
    font-size: 2rem;
    margin: 0.2rem;
    background-color: #e63228b0;
    box-shadow: 0 0 3px 3px #aacc5aef;
    border-radius: 3rem;
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
} 

/* Modificaciones Header */

.logo-institucional{
    width: 100px;
    height: 100px;
}

.contenedor-logo-titulo{
    display: flex;
    flex-direction: row;
    justify-content: center
}

h1{
    font-size: 5rem;
    display: inline-block;
    color: white;
}

#header{
    background-color: #e63228b0;
    border-radius: 2rem;
    box-shadow: 0 0 10px 10px #aacc5aef;
    border-color: #aacc5aef;
    padding: 10px;
    margin: 10px;
}

header nav ul li a{
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin: 2rem;
}

.boton-nav{
    font-size: 1rem;
    margin: 0.5rem;
    background-color: #aacc5aef;
    box-shadow: 0 0 3px 3px white;
    border-radius: 3rem;
}

.boton-nav:hover{
    color: green;
    background-color: transparent;
}

.boton-nav-desplegable{
    margin: 0.5rem;
    background-color: #aacc5aef;
    box-shadow: 0 0 3px 3px white;
    border-radius: 3rem;
    padding: 1rem;
}

.boton-nav-desplegado{
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.boton-nav-desplegado:hover{
    color:white;
    background-color:#e63228b0;
    border-radius: 2rem;
}

/* Modificaciones Main */

.propuesta{
    margin-top: 3rem;
    background-color:#e632289f;
    margin: 3 1 3 1rem;
    padding: 1rem;
    border-radius: 3rem;
    box-shadow: 0 0 10px 10px #aacc5aef;
}

.imagen-propuesta{
    width:100%;
    height:100%;
    border: 1rem;
    border-radius: 2rem;
    border: 0.5rem solid;
    border-color: #aacc5aef;
}

.titulo-propuesta{
    overflow: hidden;
    position: relative;
}

.titulo-propuesta h2{
    font-size: 3rem;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(168, 198, 93, 0.7);
}

.video{
    display: flex;
    align-items: center;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 1rem;
    padding: 1rem;
    border: solid 0.3rem #aacc5aef;
    border-radius: 1rem;
}

.video p{
    margin-left: rem;
    font-size:3.5rem;
    font-family:'Dancing Script', cursive;
    font-weight:700;
    text-align: center;
}

.centrar{
    display:flex;
    justify-content: center;
}

.noticias{
    text-align: center;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    height: 35rem;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ddd;
    overflow-y: scroll;
    border: solid 0.3rem #aacc5aef;
    border-radius: 1rem;
}

.info-extra{
    display: flex;
}

/* Modificaciones Footer */

#footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #e63228b0;
    border-radius: 2rem;
    box-shadow: 0 0 10px 10px #aacc5aef;
    border-color: #aacc5aef;
}

.contactoI{
    width: 45%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.contactoII{
    display: flex;
    justify-content: space-around;
}

.logo-contactoI{
    color: #aacc5aef;
    width: 2rem;
    height: 2rem;
    margin-top: 0.7rem;
}

.telefonos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-contactoII{
    color: #aacc5aef;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.2rem;
}

.redesI{
    width: 15%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.redesII{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.texto-pie{
    font-size: 1.5rem;
    color: white;
}

.logos{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 0.2rem #aacc5aef;
    border-radius: 1rem;
    margin: 1rem;
}

.ubicacion{
    width: 45%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.ubicacion h5{
    margin-top: 2rem;
}

/********** Modificando Pages **********/

.recuadro{
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
    border: double 1rem #aacc5aef;
}

.imagenes{
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    border: double 1rem #aacc5aef;
    text-align: center;
}

.negrita-form{
    font-size: 1.5rem;
}

.negrita-form2{
    font-size: 1rem;
}

span{
    background-color: #aacc5aef;
    color: white;
    box-shadow: 0 0 3px 3px white;
    border-radius: 2rem;
    }

.imagen {
    border-radius: 1rem;
    margin: 0.9rem;
}

.tabla{
    display: flex;
    justify-content: center;
}

.propuesta2{
    display: flex;
    justify-content: space-evenly;
}