@charset "UTF-8";
/*Reseteo CSS*/
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.titulosII, .titulos {
  margin: 0.2rem;
  background-color: rgba(230, 50, 40, 0.6901960784);
  box-shadow: 0 0 3px 3px rgba(170, 204, 90, 0.937254902);
  border-radius: 3rem;
  color: white;
  text-align: center;
}

/*Modificaciones Generales*/
.textos {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

#body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: url("../assets/img/fondo.jpg");
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.centrar {
  display: flex;
  justify-content: center;
}

.textosII {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
}

.recuadro {
  padding: 0.5rem;
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  border: double 1rem rgba(170, 204, 90, 0.937254902);
}

.negrita-form {
  font-size: 1.5rem;
}

.negrita-form2 {
  font-size: 1rem;
}

span {
  font-size: 2.5rem;
  background-color: rgba(170, 204, 90, 0.937254902);
  border-radius: 2rem;
  color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px 3px white;
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
}

.tabla {
  display: flex;
  justify-content: center;
}

.propuesta .row .titulo-propuesta h2 {
  padding: 0.5rem;
  margin: 0.1rem;
}

/*Modificaciones Títulos*/
.titulos {
  padding: 0.3rem;
  font-size: 1.5rem;
}

.titulosII {
  font-size: 2.5rem;
}

/*Modificaciones Header*/
#header {
  background-color: rgba(230, 50, 40, 0.6901960784);
  border-radius: 2rem;
  box-shadow: 0 0 10px 10px rgba(170, 204, 90, 0.937254902);
  border-color: rgba(170, 204, 90, 0.937254902);
  padding: 10px;
  margin: 10px;
}
#header h1 {
  font-size: 5rem;
  display: inline-block;
  color: white;
}
#header .contenedor-logo-titulo {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#header .contenedor-logo-titulo .logo-institucional {
  width: 100px;
  height: 100px;
}

header nav ul .boton-nav {
  font-size: 1rem;
  margin: 0.5rem;
  background-color: rgba(170, 204, 90, 0.937254902);
  border-radius: 3rem;
  box-shadow: 0 0 3px 3px white;
}
header nav ul .boton-nav:hover {
  color: green;
  background-color: transparent;
}
header nav ul li .boton-nav-desplegable {
  padding: 1rem;
  margin: 0.5rem;
  background-color: rgba(170, 204, 90, 0.937254902);
  border-radius: 3rem;
  box-shadow: 0 0 3px 3px white;
}
header nav ul li .boton-nav-desplegable .boton-nav-desplegado {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}
header nav ul li .boton-nav-desplegable .boton-nav-desplegado:hover {
  color: white;
  background-color: rgba(230, 50, 40, 0.6901960784);
  border-radius: 2rem;
}
header nav ul li a {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  margin: 2rem;
}

/*Modificaciones Video Presentación*/
.video {
  display: flex;
  align-items: center;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  border: solid 0.3rem rgba(170, 204, 90, 0.937254902);
}
.video .video-institucional {
  width: 40rem;
  height: 30rem;
}
.video p {
  margin-left: rem;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  text-align: center;
}

/*Modifiaciones Propuesta Educativa*/
.propuesta {
  background-color: rgba(230, 50, 40, 0.6235294118);
  border-radius: 3rem;
  padding: 1rem;
  margin: 3 1 3 1rem;
  box-shadow: 0 0 10px 10px rgba(170, 204, 90, 0.937254902);
}
.propuesta .titulo-propuesta {
  overflow: hidden;
  position: relative;
}
.propuesta .titulo-propuesta h2 {
  color: white;
  font-size: 3rem;
  position: absolute;
  top: 91%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(168, 198, 93, 0.7);
  border-radius: 1rem;
}
.propuesta .imagen-propuesta {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  border: 0.5rem solid;
  border-color: rgba(170, 204, 90, 0.937254902);
}

.propuesta2 {
  display: flex;
  justify-content: space-evenly;
}

/*Modificaciones Noticias*/
.info-extra {
  display: flex;
}
.info-extra .noticias {
  text-align: center;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  height: 35rem;
  padding: 1rem;
  margin: 1rem;
  overflow-y: scroll;
  border: solid 0.3rem rgba(170, 204, 90, 0.937254902);
}
.info-extra .noticias .video-noticias {
  width: 40rem;
  height: 30rem;
}
.info-extra .noticias .noticiasII {
  margin-bottom: 2rem;
}

.imagenes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  border: double 1rem rgba(170, 204, 90, 0.937254902);
}
.imagenes .imagenI {
  width: 20rem;
  height: 15rem;
  border-radius: 1rem;
  margin: 0.9rem;
}
.imagenes .imagenI:hover {
  scale: 1.75;
  transition: 1.5s;
  transition-delay: 0.3s;
}

.imagen {
  width: 15rem;
  height: 10rem;
  border-radius: 1rem;
  margin: 0.9rem;
}

/*Modificaciones Footer*/
footer {
  display: flex;
  background-color: rgba(230, 50, 40, 0.6901960784);
  border-radius: 2rem;
  box-shadow: 0 0 10px 10px rgba(170, 204, 90, 0.937254902);
  border-color: rgba(170, 204, 90, 0.937254902);
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 0.2rem rgba(170, 204, 90, 0.937254902);
  border-radius: 1rem;
  margin: 1rem;
}

.contactoI {
  width: 45%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.contactoI .contactoII {
  display: flex;
  justify-content: space-around;
}
.contactoI .contactoII .logo-contactoI {
  color: rgba(170, 204, 90, 0.937254902);
  width: 2rem;
  height: 2rem;
  margin-top: 0.7rem;
}
.contactoI .contactoII .telefonos {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contactoI .contactoII .telefonos .texto-pie {
  font-size: 1.5rem;
  color: white;
}

.redesI {
  width: 15%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.redesI .redesII {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.redesI .redesII .logo-contactoII {
  color: rgba(170, 204, 90, 0.937254902);
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 0.2rem;
}

.ubicacionI {
  width: 45%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.ubicacionI .ubicacionII {
  border: solid 0.5rem rgba(170, 204, 90, 0.937254902);
  border-radius: 1rem;
}
.ubicacionI h5 {
  margin-top: 2rem;
}

/*Medias Queries*/
@media screen and (max-width: 1635px) {
  .boton-nav a {
    font-size: 1.5rem;
  }
  .boton-nav .boton-nav-desplegable .boton-nav-desplegado {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1500px) {
  .video {
    flex-direction: column;
  }
}
@media screen and (max-width: 1450px) {
  .texto-pie {
    font-size: 1.2rem;
  }
  .logos {
    margin: 0.2rem;
    width: auto;
  }
  .ubicacionI {
    width: auto;
  }
  .contactoII {
    flex-direction: column;
  }
}
@media screen and (max-width: 1359px) {
  .nav-original {
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .boton-nav a {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1280px) {
  .imagen {
    width: 10rem;
    height: 5rem;
  }
}
@media screen and (max-width: 1100px) {
  #footer {
    padding: auto;
  }
  .texto-pie {
    font-size: 1.2rem;
  }
  .logos {
    border: none;
  }
  .ubicacionI {
    width: auto;
  }
  .no-visible {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .contenedor-logo-titulo {
    text-align: center;
  }
  .boton-nav a {
    font-size: 1.5rem;
  }
  .boton-nav .boton-nav-desplegable .boton-nav-desplegado {
    font-size: 1.5rem;
  }
  .propuesta {
    display: none;
  }
  .titulo-propuesta {
    display: none;
  }
  .propuesta2 {
    display: none;
  }
  .recuadro .tabla {
    font-size: 1rem;
  }
}
@media screen and (max-width: 870px) {
  #footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .redesII {
    align-items: center;
  }
  .telefonos {
    flex-direction: row;
    justify-content: space-around;
  }
  .logos {
    margin: 0rem 2rem 0rem 2rem;
  }
  .video-institucional {
    width: 30rem;
    height: 20rem;
  }
  .info-extra {
    flex-direction: column;
    align-items: center;
  }
  .info-extra .noticias {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
  }
  .video {
    width: 100%;
  }
  .video p {
    font-size: 1.5rem;
  }
  .imagenes {
    flex-wrap: wrap;
    justify-content: center;
  }
  .imagenes .imagenI:hover {
    scale: 1.3;
  }
  .video .video-institucional {
    width: 30rem;
    height: 20rem;
  }
  .negrita-form {
    font-size: 1rem;
  }
  ::placeholder {
    font-size: 1rem;
  }
  .recuadro p {
    font-size: 1.2rem;
  }
  span {
    font-size: 1.5rem;
  }
  .titulosII {
    font-size: 1.4rem;
  }
  .aranceles {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  table {
    width: 100%;
    justify-content: center;
  }
  th {
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(194, 194, 194);
  }
  thead {
    display: none;
  }
  tr td:first-child {
    font-weight: bold;
    font-size: 1.3em;
  }
  tbody td {
    display: block;
    text-align: center;
  }
  .logos .texto-pie {
    font-size: 1rem;
  }
  .telefonos .logos .texto-pie {
    display: none;
  }
  footer .contactoI .titulos {
    font-size: 1.3rem;
  }
  #header h1 {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
  }
  .boton-nav a {
    font-size: 1rem;
  }
  .boton-nav .boton-nav-desplegable .boton-nav-desplegado {
    font-size: 0.8rem;
  }
  .ubicacionI {
    width: 100%;
  }
  footer .contactoI .titulos {
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .video .video-institucional {
    width: 100%;
    height: 100%;
  }
  .centrar .video-noticias {
    width: 100%;
    height: 100%;
  }
  .imagenes .imagenI:hover {
    scale: none;
  }
  .input-tamaño {
    width: 100%;
  }
  .logos .mails {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=style.css.map */
