/*Medias Queries*/

@media screen and (max-width: 1635px) {
.boton-nav a{font-size: 1.5rem;
        }
        .boton-nav .boton-nav-desplegable .boton-nav-desplegado{
                font-size: 1.5rem;
        }
}

@media screen and (max-width: 1500px) {
        .video{flex-direction: column;}
        }

@media screen and (max-width: 1450px) {
        .texto-pie{font-size: 1.2rem;}
        .logos{margin: 0.2rem;
                width: auto;}
        .ubicacionI {width: auto;}
        .contactoII {flex-direction: column;}
}

@media screen and (max-width: 1359px) {
.nav-original{display: flex;
        flex-wrap: wrap;
        justify-content: center !important;}
        .boton-nav a{
        font-size: 2rem;}
}

@media screen and (max-width: 1280px) {
        .imagen {width: 10rem;
                height: 5rem;}
}

@media screen and (max-width: 1100px) 
        {
        #footer {padding: auto;}
        .texto-pie{font-size: 1.2rem;}
        .logos{ border: none;}
        .ubicacionI {width: auto;}
        .no-visible{display:none;}
}

@media screen and (max-width: 991px) {
        .contenedor-logo-titulo {
                text-align: center;
        }
        .boton-nav a {
                font-size: 1.5rem;
        }
        .boton-nav .boton-nav-desplegable .boton-nav-desplegado{
                font-size: 1.5rem;
        }
        .propuesta {
                display: none;
        }
        .titulo-propuesta{
                display: none;
        }
        .propuesta2{
                display: none;
        }
        .recuadro .tabla{
                font-size: 1rem;
        }
}

@media screen and (max-width: 870px) 
        {#footer {display: flex;
                flex-direction: column;
                align-items: center;}
                .redesII {align-items: center;}
                .telefonos{flex-direction: row;
                justify-content: space-around;}
                .logos{margin: 0rem 2rem 0rem 2rem;
        }
        .video-institucional{width: 30rem;
                height: 20rem;}
        .info-extra {flex-direction:column;
                align-items: center;
        }
        .info-extra .noticias {
                width: 100%;
                height: 100%;
                overflow-y:hidden;
        }
        .video{
                width: 100%;
                p{
                        font-size: 1.5rem;
                }
        }
        .imagenes {flex-wrap: wrap;
                justify-content: center;
                .imagenI{
                        &:hover{
                        scale: 1.3;
                        }
                }
        }
        .video .video-institucional{
                width: 30rem;
                height: 20rem;
        }
        .negrita-form{
                font-size: 1rem;
        }
        ::placeholder {
                font-size: 1rem;
        }
        .recuadro p {
                font-size: 1.2rem;
        }
        span{
                font-size: 1.5rem;
        }
        .titulosII{
                font-size: 1.5rem;
        }
        .aranceles {
                font-size: 1rem;
        }
}

@media screen and (max-width: 600px) {
	table {
		width:100%;
		justify-content: center;
	}
	th {    
                font-weight: bold;
                font-size: 1.3rem;
		display: flex;
		align-items: center;
		flex-direction: column;
                background-color: rgb(194, 194, 194);
	}
	thead {
		display: none;
	}
	tr td:first-child {
		font-weight:bold;
		font-size:1.3em;
	}
	tbody td {
		display: block;
		text-align:center;
	}
        .logos .texto-pie{
                font-size: 1rem;
        }
        .telefonos .logos .texto-pie {
                display: none;
        }
        footer .contactoI .titulos{
                font-size: 1.3rem;
        }
        #header h1 {
                font-size: 2.5rem;
                display: flex;
                align-items: center;
        }
        .boton-nav a{font-size: 1rem;
                }
        .boton-nav .boton-nav-desplegable .boton-nav-desplegado{
                font-size: 1rem;
        }
        .ubicacionI {width: 100%;}
        footer .contactoI .titulos {
                font-size: 1rem;
        }
}

@media screen and (max-width: 400px) {
        .video .video-institucional{
                width: 100%;
                height: 100%;
        }
        .centrar .video-noticias{
                width: 100%;
                height: 100%;
        }
        .imagenes {
                .imagenI{
                        &:hover{
                        scale: none;
                        }
                }
        }
        .input-tamaño{
                width: 100%;
        }
        .logos .mails{
                font-size: 0.9rem ;
        }
}
